In [1]:
from sdv.demo import load_timeseries_demo
data = load_timeseries_demo()
data.head()

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,AAPL,2018-12-31,39.632500,39.435001,140014000,7.378734e+11,Technology,Computer Manufacturing
1,AAPL,2019-01-02,38.722500,39.480000,148158800,7.378734e+11,Technology,Computer Manufacturing
2,AAPL,2019-01-03,35.994999,35.547501,365248800,7.378734e+11,Technology,Computer Manufacturing
3,AAPL,2019-01-04,36.132500,37.064999,234428400,7.378734e+11,Technology,Computer Manufacturing
4,AAPL,2019-01-07,37.174999,36.982498,219111200,7.378734e+11,Technology,Computer Manufacturing

In [2]:
entity_columns = ['Symbol']

In [3]:
context_columns = ['MarketCap', 'Sector', 'Industry']

In [4]:
sequence_index = 'Date'

In [5]:
from sdv.timeseries import PAR
model = PAR(
   entity_columns=entity_columns,
   context_columns=context_columns,
   sequence_index=sequence_index,
   )
model.fit(data)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/deepecho/sequences.py:181: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for _, sequence in data.groupby(entity_columns):

In [8]:
new_data = model.sample(6)
new_data.head()

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,a,2018-12-27,171.508995,247.651145,13391278,1.110842e+11,Technology,Computer Software: Prepackaged Software
1,a,2019-01-02,165.335985,187.928748,9924893,1.110842e+11,Technology,Computer Software: Prepackaged Software
2,a,2019-01-05,232.332927,155.409435,6467979,1.110842e+11,Technology,Computer Software: Prepackaged Software
3,a,2019-01-06,209.032425,164.902239,1704911,1.110842e+11,Technology,Computer Software: Prepackaged Software
4,a,2019-01-07,176.635267,191.623896,-653454,1.110842e+11,Technology,Computer Software: Prepackaged Software

In [7]:
data.head()

,Symbol,Date,Open,Close,Volume,MarketCap,Sector,Industry
0,AAPL,2018-12-31,39.632500,39.435001,140014000,7.378734e+11,Technology,Computer Manufacturing
1,AAPL,2019-01-02,38.722500,39.480000,148158800,7.378734e+11,Technology,Computer Manufacturing
2,AAPL,2019-01-03,35.994999,35.547501,365248800,7.378734e+11,Technology,Computer Manufacturing
3,AAPL,2019-01-04,36.132500,37.064999,234428400,7.378734e+11,Technology,Computer Manufacturing
4,AAPL,2019-01-07,37.174999,36.982498,219111200,7.378734e+11,Technology,Computer Manufacturing