In [27]:
import pandas as pd

In [35]:
data = pd.read_csv('test.csv')

In [38]:
for i in range(1,37):
    data_new = data.loc[data['user'] == i]
    data_new.to_csv('Human')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35

In [37]:
data_new

       user    activity      timestamp  x-axis  y-axis  z-axis
0         1     Walking  4991922345000    0.69   10.80   -2.03
1         1     Walking  4991972333000    6.85    7.44   -0.50
2         1     Walking  4992022351000    0.93    5.63   -0.50
3         1     Walking  4992072339000   -2.11    5.01   -0.69
4         1     Walking  4992122358000   -4.59    4.29   -1.95
...     ...         ...            ...     ...     ...     ...
29973     1  Downstairs  6895352430000   -0.61    9.72    2.07
29974     1  Downstairs  6895402326000    5.71   11.35    0.69
29975     1  Downstairs  6895452344000    8.62    5.41   -1.18
29976     1  Downstairs  6895502332000    4.25    7.59    0.08
29977     1  Downstairs  6895552320000   -0.34   11.30    0.72

[29978 rows x 6 columns]